.card {
  background-color: white;
  border: 5px solid black;
  border-radius: 15px;
  padding: 15px 20px;
  max-width: 400px;
}

.header {
  display: flex;
  align-items: center;
}

.heading-container {
  margin-left: 10px;
  line-height: 1.6em;
}

.sub-heading {
  color: #95a5a6;
  margin-left: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.graph-container {
  margin-top: 30px;
  text-align: center;
}

.graph-subheading {
  font-size: 13px;
  margin-top: 10px;
}

.details-container {
  text-align: right;
}

/* Color Classes */
.text-gray {
  color: #bfc5c9;
}

.text-orange {
  color: #e67e22;
}

.text-blue {
  color: #2980b9;
}

.text-green {
  color: #27ae60;
}
.avatar-div {
  font-size: 1.5rem;
  text-align: center;
  overflow: visible;
  border: 0;
  background-color: transparent;
}

.avatar-text {
  align-items: center;
  color: #fff;
  display: block;
  /* background-color: #673ab7; */
  font-size: 1.45rem;
  border-radius: 50%;
  justify-content: center;
  padding: 1rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}
.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
